
.project-list{
  .project-md-preview{
    overflow: hidden;
    width: 100%;
    padding-top: 10px;

    img{
      width: 85%;
    }
  }
}

.project-detail{

  .detail-markdown{
    color: #fff;
  }

  .detail-content-wrap{
    margin-top: 4rem;
  }
}

