.home-title{
  height: 400px;
  padding: 50px;
  padding-top: 120px;
  text-align: center;
  padding-bottom: 100px;
  color: #fff;
  box-sizing: content-box;
  background: #1d1d24;
  @media all and (max-width: $mobile) {
    padding: 50px 0;
    height: auto;

  }
}