.home-aboutme{
  background: #fff;
  .break-dl{
    background: #f9f9f9;

    .break-list{
      padding: 5px 0;
      margin: 10px 0;
      border-bottom: 1px solid #e0e0e0;

    }
  }

  .about-me-img{
    padding: 25px;

    @media all and (max-width: $mobile) {
      padding: 0;
    }
  }
}