.header{
  position: relative;

  @media all and(max-width: 420px) {
    min-height: 150px;
  }

  nav{
    max-height: 100%;
    min-height: 300px;
    @media all and(max-width: 420px) {
      min-height: 120px;
    }

    .header-nav{
      position: relative;
      li{
        display: block;
        float: none;
        text-align: center;
      }
    }
  }

  //logo
  .header-nav-title{
    clear: both;
    padding: 10px;
    overflow: hidden;
    background: url(../img/navTitle.png);
    background-size:cover;
    min-height: 150px;

    .user-choose-box{
      padding-top:0.8rem;

      .user-choose-btn{
        padding: 0 15px;
        font-size: 0.9rem;
      }

      //user选择框箭头
      .user-choose-arrow{
        font-size: 1.1rem;
        margin-top: -10px;
      }
    }


  }


  div.col.navcol{
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    left: 0;
  }

  .header-btn{
    position: absolute;
    z-index: 99;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
  }

  .header-btn.header-btn-hide{
    opacity: 0;
  }

 div.col.nav-hide{
   left: -400px;
   overflow: hidden;
  }

  @import "loginModal";


}