.header{
  position: relative;

  @media all and(max-width: 420px) {
    min-height: 150px;
  }

  nav{
    max-height: 100%;
    min-height: 500px;
    @media all and(max-width: 420px) {
      min-height: 120px;
    }

    .header-nav{
      position: relative;
      li{
        display: block;
        float: none;
        text-align: center;
      }
    }
  }

  .nav-logo{
    clear: both;
    overflow: hidden;
  }

  .nav-clear{
    @media all and(max-width: 420px) {
      visibility: hidden;
    }
  }

  //logo
  .header-nav-title{
    clear: both;
    padding: 10px;
    overflow: hidden;
    background: url(../img/navTitle.png);
    background-size:cover;
    min-height: 150px;

    .user-choose-box{

      padding-top:0.8rem;

      .user-choose-btn{
        padding: 0 15px;
        font-size: 0.9rem;
      }

      //user选择框箭头
      .user-choose-arrow{
        font-size: 1.1rem;
        margin-top: -10px;
      }
    }


  }


  &.col.navcol{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    left: 0;
  }
  &.col.nav-hide{
    width: 0;
    left: -400px;
  }

  &.col.nav-hide .header-btn{
    left: 400px;
  }

  .header-btn{
    position: absolute;
    z-index: 99;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    left: 0;
  }




  .header-btn.header-btn-hide{
    opacity: 0;
  }





  @import "loginModal";


}